{% extends "base.html" %}

{% block title %}
    {{question.title}}
{% endblock %}

{% block content %}
<div id='question-detail'>
    <div id='question-title'>
        <p> {{question.title}} ?</p>
    </div>
    <div id='question-description'>
        <p> {{question.description}}</p>
    </div>
</div>

<div id='answer-list'>
    {% if question.answers.all %}
        {% for answer in question.answer.all %}
            <div class='answer-detail'>
                <p>{{ answer.text }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>目前没有人回答这个问题</P>
    {% endif %}

</div>

<div id='new-answer'>
        <form action="{% url 'questions-new_answer' question.id%}" method="post">{%csrf_token %}
            {{ answerform.text }}
            <input  class="answer-submit" type="submit" value="submit">
        </form>
</div>

<style>
    #question-detail {
        width: 450px;
        margin: 0 auto;
        border: solid 1px white;
        border-radius: 5px;
    }
    #question-title {
        margin: 25px;
        width: 400px;
        border-radius: 5px;
        border: solid 1px white;
    }
    #question-description {
        width: 300px;
        border: solid 1px white;
        border-radius: 5px;
    }
    #answer-list {
        margin: 20px 0 0 0;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        border: solid 1px white;
    }
    #new-answer {
        width: 450px;
        margin: 20px 0 0 0;
        margin-left: auto;
        margin-right: auto;
    }
    #new-answer .question-input {
        resize: none;
        width: 450px;
        padding: 10px;
        font-size:1.3em;
        font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
        color:#ccc;
        border:solid 1px gray;
        margin-bottom: 10px;
        -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
        //-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }
    #new-answer .answer-submit {
        padding: 5px;
        font-size:1.3em;
        font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
        color:#ccc;
        border:solid 1px gray;
        margin-bottom: 10px;
        -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
        //-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }


</style>
{% endblock %}


