{% extends "base.html" %}

{% block title %}
    {{question.title}}
{% endblock %}

{% block content %}
<div id='question-detail'>
    <a id="asker-info"><a class='asker-name' href='{% url 'users-user' question.asker.id %}'>{{ question.asker.username }}</a><a class='ask-time'>{{ question.create_date|date:'Y m d H:i' }}</a></a>
    <div id='question-title'>
        <p> {{question.title}} ?</p>
    </div>
    <div id='question-description'>
        <p> {{question.description}}</p>
    </div>
</div>

<hr class="split" />
<div id='answer-list'>
    {% if answers %}
        {% for answer in answers %}
            <div class='answer-detail'>
                <p>{{ answer.text }}</p>
                <a class='reply-time'>{{ answer.create_date|date:'Y m d H:i' }}</a>
                <a class='replyer-name' href='{% url 'users-user' answer.replyer.id %}'>{{ answer.replyer.username }}</a>
            {% if user.is_authenticated %}
                {% if answer.is_voted %}
                <a class='answer-action unvote' href="{% url 'questions-answer_unvote' answer.id %}">取消赞同</a>
                <a class='answer-action vote hidden' href="{% url 'questions-answer_vote' answer.id %}">赞同</a>
                {% else %}
                <a class='answer-action unvote hidden' href="{% url 'questions-answer_unvote' answer.id %}">取消赞同</a>
                <a class='answer-action vote' href="{% url 'questions-answer_vote' answer.id %}">赞同</a>
                {% endif %}
            {% endif %}
                <a>得分:{{ answer.score }}</a>
            </div>
        {% endfor %}
    {% else %}
        <div class='answer-detail'>
            <p>目前没有人回答这个问题</P>
        </div>
    {% endif %}

</div>
<div id='new-answer'>
    {% if user.is_authenticated %}
        <form onsubmit='return false' id="new-answer-form"  method="post">{%csrf_token %}
            {{ answerform.text }}
            <a id="error-prompt"></a>
            <input  class="answer-submit" type="submit" value="submit">
        </form>
    {% else %}
        <p>请登录后回复</p>
    {% endif %}
</div>
<style>
    #asker-info {
        float: left;
        padding-left: 20px;
    }
    .ask-time {
        padding-left: 30px;
        color: gray;
    }
    .split {
        width: 472px;
        margin: 10px auto 20px auto;
    }
    #question-detail {
        text-align: left;
        font-weight: bold;
        width: 472px;
        padding-top: 20px;
        margin: 0 auto;
    }
    #question-title {
        font-size: 20px;
        line-height: 20px;
        text-align: left;
        margin: 5px;
        width: 400px;
    }
    #question-description {
        font-size: 19px;
        line-height: 19px;
        margin: 0 5px 10px 5px;
        width: 400px;
    }
    #answer-list {
        margin: 20px 0 0 0;
        margin-left: auto;
        margin-right: auto;
        width: 472px;
    }
    .answer-detail {
        width: 472px;
        border-bottom: solid 1px white;
        padding-bottom: 6px;
    }
    #new-answer {
        width: 472px;
        margin: 20px 0 0 0;
        margin-left: auto;
        margin-right: auto;
    }
    #new-answer form {
        width: 472px;
        padding: 1px;
        overflow: hidden;
    }
    #new-answer .question-input {
        resize: none;
        width: 450px;
        padding: 10px;
        font-size:1.3em;
        font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
        color:#ccc;
        border:solid 1px gray;
        margin-bottom: 10px;
        -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
        //-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }
    #new-answer .answer-submit {
        padding: 5px;
        font-size:1.3em;
        font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
        color:#ccc;
        border:solid 1px gray;
        margin-bottom: 10px;
        -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
        //-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }
    .answer-detail {
        overflow: hidden;
        margin: 0 0 20px 0;
        width: 472px;
    }
    .answer-detail a{
        width: 80px;
        float: right;
    }
    .answer-detail p{
        text-align: left;
        padding: 0 5px 10px 5px;
    }
    .replyer-name {
        color: gray;
    }
    .answer-detail .reply-time {
        color: gray;
        float: left;
        width: 200px;
    }
    #error-prompt {
        color: red;
    }

</style>
{% endblock %}

{% block js-script %}
<script>
function toggle_state(href){
    $.ajax({
        type: "POST",
            dataType: "html",
            url: href,
            success: function(data){
                $(".active-vote .answer-action").each(function() {
                    $(this).toggleClass('hidden');
                });
                $(".active-vote").removeClass('active-vote');
            },
            error: function(xhr){
                alert('error');
            }
    });
}
$(document).ready(function() {
    $('.answer-action').click(function(e){
        e.preventDefault();
        var href= $(this).attr('href');
        $(this).parent().addClass('active-vote');
        toggle_state(href);
    });
    $('.answer-submit').click(function(e) {
        $.ajax({
            type: "POST",
            dataType: "html",
            url: "{% url 'questions-new_answer' question.id %}",
            data: $("#new-answer-form").serialize(),
            success: function(data){
                $("#error-prompt").html("");
                var answer = $.parseJSON(data)[0];
                $("div.answer-detail:last").clone().insertAfter("div.answer-detail:last").html("<p>"+answer.fields.text+"</p>");
                $("#id_text").val("");
            },
            error: function(xhr){
                var error= $.parseJSON(xhr.responseText);
                $("#error-prompt").html(error.text);
            }
        });
    });

});
</script>
{% endblock %}
