{% extends "base.html" %}

{% block title %}
    {{question.title}}
{% endblock %}

{% block content %}
<div id='question-detail'>
    <a id="asker-info"><a class='asker-name' href='{% url 'users-user' question.asker.id %}'>{{ question.asker.username }}</a><a class='ask-time'>{{ question.create_date|date:'Y m d H:i' }}</a></a>
    <div id='question-title'>
        <p> {{question.title}} ?</p>
    </div>
    <div id='question-description'>
        <p> {{question.description | safe}}</p>
    </div>
</div>

<hr class="split" />
<div id='answer-list'>
    {% if answers %}
        {% for answer in answers %}
            <div class='answer-detail'>
                <p>{{ answer.text | safe}}</p>
                <a class='reply-time'>{{ answer.create_date|date:'Y m d H:i' }}</a>
                <a class='replyer-name' href='{% url 'users-user' answer.replyer.id %}'>{{ answer.replyer.username }}</a>
                {% if answer.is_voted %}
                <a class='answer-action unvote' href="{% url 'questions-answer_unvote' answer.id %}">取消赞同</a>
                <a class='answer-action vote hidden' href="{% url 'questions-answer_vote' answer.id %}">赞同</a>
                {% else %}
                <a class='answer-action unvote hidden' href="{% url 'questions-answer_unvote' answer.id %}">取消赞同</a>
                <a class='answer-action vote' href="{% url 'questions-answer_vote' answer.id %}">赞同</a>
                {% endif %}
                <a class="answer-{{ answer.id }}-score">Vote {{ answer.score }}</a>
                <hr class="split" />
            </div>
        {% endfor %}
    {% else %}
        <div class='answer-detail'>
            <p>目前没有人回答这个问题</P>
            <hr class="split" />
        </div>
    {% endif %}

</div>
<div id='new-answer'>
        <form onsubmit='return false' id="new-answer-form"  method="post">{%csrf_token %}
            {{ answerform.text }}
            <a id="error-prompt"></a>
            <input  class="answer-submit" type="submit" value="submit">
        </form>
</div>
<style>
    #asker-info {
        float: left;
        padding-left: 20px;
    }
    .ask-time {
        padding-left: 30px;
        color: gray;
    }
    .split {
        width: 472px;
        margin: 10px auto 20px auto;
    }
    #question-detail {
        text-align: left;
        width: 472px;
        padding-top: 20px;
        margin: 0 auto;
    }
    #question-title {
        text-align: left;
        margin: 5px;
        width: 472px;
    }
    #question-description {
        margin: 0 5px 10px 5px;
        width: 472px;
    }
    #answer-list {
        margin: 20px 0 0 0;
        margin-left: auto;
        margin-right: auto;
        width: 472px;
    }
    #new-answer {
        width: 472px;
        margin: 20px 0 0 0;
        margin-left: auto;
        margin-right: auto;
    }
    #new-answer form {
        width: 472px;
        padding: 1px;
        overflow: hidden;
    }
    #new-answer .question-input {
        resize: none;
        width: 450px;
        padding: 10px;
        font-size:1.3em;
        color:#ccc;
        border:solid 1px #168391;
        margin-bottom: 10px;
    }
    #new-answer .answer-submit {
        padding: 5px;
        font-size:1.3em;
        color: white;
        background-color: #4abdcc;
        margin-bottom: 10px;
        border: none;
        cursor: pointer;
    }
    #new-answer .answer-submit:hover {
        background-color: #168391;
    }
    .answer-detail {
        overflow: hidden;
        width: 472px;
    }
    .answer-detail a{
        width: 80px;
        float: right;
    }
    .answer-detail p{
        text-align: left;
        padding: 0 0 10px 0;
    }
    .replyer-name {
        color: gray;
    }
    .answer-detail .reply-time {
        color: gray;
        float: left;
        width: 200px;
    }
    #error-prompt {
        color: red;
    }

</style>
{% endblock %}

{% block js-script %}
<script>
function toggle_state(href){
    $.ajax({
        type: "POST",
            dataType: "html",
            url: href,
            success: function(data){
                var answer = $.parseJSON(data)[0];
                $(".active-vote .answer-action").each(function() {
                    $(this).toggleClass('hidden');
                    $('.answer-'+answer.id+'-score').html('Vote '+answer.score);
                });
                $(".active-vote").removeClass('active-vote');
            },
            error: function(xhr){
                alert('server error');
            }
    });
}

function render_vote_response(response){
    var answer = $.parseJSON(response)[0];
    answer_html =
        '<div class="answer-detail">'
           + '<p>' + answer.text + '</p>'
           + '<a class ="reply-time" href="">' + answer.create_date + '</a>'
           + '<a class ="reply-name" href="' + '/user/1"' +'>' + answer.replyer__username + '</a>'
           + '<a class="answer-action unvote hidden" href="/question/answer/' + answer.id + '/unvote/">取消赞同</a>'
           + '<a class="answer-action vote" href="/question/answer/'+ answer.id + '/vote/">赞同</a>'
           + '<a class="answer-' + answer.id + '-score"'+ '>Vote ' + answer.score + '</a>'
           + '<hr class="split">'
         +'</div>';


    var $answerdetail = $(answer_html);
    $("#answer-list").append($answerdetail);
    bind_vote_click();
}

function bind_vote_click(){
    //get newly create element working
    $('.answer-action').bind('click', function(e){
        e.preventDefault();
        if(!CURRENT_USER_ID){
            myapp.modal.open({content: $('#login-form').html()});
            return false;
        }
        var href= $(this).attr('href');
        $(this).parent().addClass('active-vote');
        toggle_state(href);
    });
}

$(document).ready(function() {
    bind_vote_click();
    $('#new-answer-form').click(function(e) {
        if(!myapp.requireLogin()) return false;
    });
    $('.answer-submit').click(function(e) {
        if(!myapp.requireLogin()) return false;
        $.ajax({
            type: "POST",
            dataType: "html",
            url: "{% url 'questions-new_answer' question.id %}",
            data: $("#new-answer-form").serialize(),
            success: function(data){
                $("#error-prompt").html("");
                render_vote_response(data);
            },
            error: function(xhr){
                var error= $.parseJSON(xhr.responseText);
                $("#error-prompt").html(error.text);
            }
        });
    });
});
</script>
{% endblock %}
