<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">

        <title>{% block title %}{% endblock title %}</title>

    </head>
    <body>
        <div class='head'>
            <div class="navbar">
                    <a href='{% url 'index' %}'>首页</a>
                    <a  href="{% url 'questions-new_question_ajax' %}" class='askquestion'>提问 </a>
                {% if  user.is_authenticated %}
                <a {% if is_me %}class='is-my-space'{% endif %} href='{% url 'users-user' user.id %}'>{{ user.username }}</a>
                    <a href='{% url 'users-logout' %}'>退出 </a>
                {% else %}
                    <a href='{% url 'users-login' %}'>登录 </a>
                    <a href='{% url 'users-signup' %}'>注册</a>
                {% endif %}
            </div>
        </div>

        <div class='container'>
            <div class='content'>
        {% block content %}

        {% endblock %}
            </div>
        </div>

    {% if not  user.is_authenticated %}
        <div id='login-form' style="display: none">
            <div id="modal-head">
                <div id="modal-head-title">Login</div>
                <div id="close" class="dismiss">close</div>
            </div>
            <div id="modal-content">
                <form action="{% url 'users-login' %} " id='popup-login' method='post'>{% csrf_token %}
                    <input class='popup-login-input' id='id_username' name='username' placeholder='username' type='text'>
                    <input class='popup-login-input' id='id_password' name='password' placeholder='password' type='password'>
                    <input type="submit" value="login">
                </form>
            </div >
        </div>
        <script>
            var CURRENT_USER_ID = null;
        </script>
    {% else %}
        <script>
            var CURRENT_USER_ID = {{ user.id }};
        </script>
    {% endif %}

        <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/base.js"></script>
        <script src="{{ STATIC_URL }}js/tools.js"></script>
        {% block js-file %} {% endblock js-file %}
        {% block js-script %} {% endblock js-script %}
    </body>

</html>
