<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">

        <title>{% block title %}{% endblock title %}</title>

    </head>
    <body>
        <div class='head'>
            <div class="navbar">
                <ul>
                    <li><a href='{% url 'index' %}'>首页</a></li>
                    <li><a  href="question/new" class='askquestion'>提问 </a></li>
                {% if  user.is_authenticated %}
                <li><a {% if is_me %}class='is-my-space'{% endif %} href='{% url 'users-user' user.id %}'>{{ user.username }}</a></li>
                    <li><a href='{% url 'users-logout' %}'>退出 </a></li>
                {% else %}
                    <li><a href='{% url 'users-login' %}'>登录 </a></li>
                    <li><a href='{% url 'users-signup' %}'>注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>

        <div class='container'>
            <div class='content'>
        {% block content %}

        {% endblock %}
            </div>
        </div>
    {% if not  user.is_authenticated %}

    {% endif %}

        <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/base.js"></script>
        <script src="{{ STATIC_URL }}js/tools.js"></script>
        {% block js-file %} {% endblock js-file %}
        {% block js-script %} {% endblock js-script %}
    </body>

</html>
