{% extends 'base.html' %}

{% block title %}
    消息 | 问答网站
{% endblock %}

{% block content %}

    <div class='notifications-list'>
    {% if notifications %}
        <h2> 您有{{ notifications.count }}条新消息: </h2>
        <ul>
        {% for notification in notifications %}
            <li>{{ notification.text | safe }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <h2> 暂时无新消息</h2>
    {% endif %}
    </div>


<style type="text/css">

    .notifications-list {
        margin: auto;
        padding: 20px;
        position: relative;
        top: 50px;
        width: 600px;
    }
    .notifications-list li {
        float: left;
        width: 470px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

</style>

{% endblock %}
