{% extends 'base.html' %}

{% block title %}
    {{ user.username }} | 问答网站
{% endblock %}

{% block content %}
        <div class='content'>
		<div class='asked-questions'>
		{% if questions %}
			<h2>以下是你提出的问题</h2>
			<ul>
			{% for question in questions %}
            <li><a href="{% url 'questions-question_detail' question.pk %}">{{ question.title }}</a>
                <a class='datetime'>{{ question.create_date|date:"Y-m-d g:i:s" }}</a>
            </li>
			{% endfor %}
			</ul>
		{% else %}
			<p>you don't asked any questions yet!</p>
		{% endif %}
        </div>
        </div>
<style type="text/css">
    .asked-questions {
        box-shadow: 0px 0px 40px 1px white;
        width: 600px;
        top: 50px;
        margin: 0 auto;
        position: relative;
        padding: 20px;
    }
    .datetime {
        color: gray;
    }
</style>
{% endblock %}
