{% extends 'base.html' %}

{% block title %}
    {{ user.username }} | 问答网站
{% endblock %}

{% block content %}

    <div class='questions-list'>
    {% if questions %}
        <h3> 我遇到的一些问题</h3>
        <ul>
        {% for question in questions %}
            <li><a class='question-title-short' href="{% url 'questions-question_detail' question.id %}">{{ question.title }}</a>
                <a class='question-datetime'>{{question.create_date|date:"Y/m/d H:i"}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>你没有发布任何问题！</h3>
    {% endif %}
    </div>

    <div class='users-list'>
    {% if user.following.all %}
        <h2>我的关注</h2>
        <ul>
        {% for user in user.following.all %}
        <li><a href='{% url 'users-user' user.id %}'>{{ user.username }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>您未关注任何人！</h3>
    {% endif %}
    </div>


<style type="text/css">

    .questions-list {
        padding: 20px;
        position: relative;
        top: 20px;
        width: 680px;
        float: left;
    }
    .users-list {
        padding: 20px 0 20px 0;
        position: relative;
        top: 50px;
        width: 220px;
        float: right;
    }
</style>
{% endblock %}

