{% extends 'base.html' %}

{% block title %}
    {{ user.username }} | 问答网站
{% endblock %}

{% block content %}
<div class='questions-list'>
    <div class='questions-ask'>
    {% if asked_questions %}
        <h3> 我已提出的问题</h3>
        <ul>
        {% for question in asked_questions %}
            <li><a class='question-title-short' href="{% url 'questions-question_detail' question.id %}">{{ question.title }}</a>
                <a class='question-datetime'>{{question.create_date|date:"Y/m/d H:i"}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>你没有提出任何问题！</h3>
    {% endif %}
    </div>

    <div class='questions-reply'>
        {% if replyed_questions %}
        <h3> 我回复过的问题</h3>
        <ul>
        {% for question in replyed_questions %}
            <li><a class='question-title-short' href="{% url 'questions-question_detail' question.id %}">{{ question.title }}</a>
                <a class='question-datetime'>{{question.create_date|date:"Y/m/d H:i"}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>你没回复任何问题！</h3>
    {% endif %}
    </div>
</div>

    <div class='users-list'>
    {% if user.following.all %}
        <h2>我的关注</h2>
        <ul>
        {% for user in user.following.all %}
        <li><a href='{% url 'users-user' user.id %}'>{{ user.username }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>您未关注任何人！</h3>
    {% endif %}
    </div>


<style type="text/css">

    .questions-list {
        top: 10px;
        padding: 20px;
        position: relative;
        width: 566px;
        float: left;
        left: 80px;
        border-right: 1px solid;
    }
    .users-list {
        position: relative;
        top: 50px;
        width: 200px;
        right: 80px;
        float: right;
    }
    .questions-ask {
        padding: 20px;
        position: relative;
        width: 566px;
        overflow: hidden;
    }
    .questions-reply {
        padding: 20px;
        position: relative;
        width: 566px;
        overflow: hidden;
    }
</style>
{% endblock %}

