{% extends 'base.html' %}

{% block title %}
    {{ other.username }} | 问答网站
{% endblock %}

{% block content %}

    <div class='questions-list'>
    {% if questions %}
        <h2>  {{ other.username }} 遇到的一些问题</h2>
        <ul>
        {% for question in questions %}
            <li><a class='question-title-short' href="{% url 'questions-question_detail' question.id %}">{{ question.title }}</a>
                <a class='question-datetime'>{{question.create_date|date:"Y/m/d H:i"}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>there is no questions!</p>
    {% endif %}
    </div>

    <div class='users-list'>
    {% if user in other.followers.all %}
        <a href='{% url 'users-unfollow' other.id %}' class='relationship unfollow'>取消关注</a>
        <a href='{% url 'users-follow' other.id %}' class='relationship follow hidden'>关注</a>
    {% else %}
        <a href='{% url 'users-follow' other.id %}' class='relationship follow'>关注</a>
        <a href='{% url 'users-unfollow' other.id %}' class='relationship unfollow hidden'>取消关注</a>
    {% endif %}
    </div>

<style type="text/css">

    .questions-list {
        padding: 20px;
        position: relative;
        top: 50px;
        width: 680px;
        float: left;
    }
    .users-list {
        padding: 20px 0 20px 0;
        position: relative;
        top: 50px;
        width: 220px;
        float: right;
    }
    .relationship {
        padding: 5px;
        background-color: #529ecc;
        text-decoration: none;
        color: white;
    }
</style>

<script>
function change_relationship(href){
    $.ajax({
        type: "POST",
            dataType: "html",
            url: href,
            success: function(data){
                $(".relationship").each(function() {
                    $(this).toggleClass('hidden');
                });
            },
            error: function(xhr){
                alert('error');
            }
    });
}
$(document).ready(function() {
    $('.relationship').click(function(e){
        e.preventDefault();
        var href= $(this).attr('href');
        change_relationship(href);
    });
});
</script>

{% endblock %}

